@{
    ViewBag.age = "DataTableGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Employee>
<h2>
    DataTableGrid</h2>
<link href="../../media/css/demo_table.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../media/js/jquery.js"></script>
<script type="text/javascript" src="../../media/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').dataTable({ 
        //"oLanguage": { "sSearch": "Search the nominees:" },
            "iDisplayLength": 10,
            "aaSorting": [[0, "asc"]]
        });
    });
</script>
<table id="grid" class="display">
    <thead>
        <tr>
       
            <th>
                employeeId
            </th>
            <th>
                employeeName
            </th>
            <th>
                address
            </th>
            <th>
                age
            </th>
            <th>
                designation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            
                <td>@item.employeeId
                </td>
                <td>@item.employeeName
                </td>
                <td>@item.address
                </td>
                <td>@item.age
                </td>
                <td>@item.designation
                </td>
            </tr> 
        }
    </tbody>
</table>
